node_modules
.tmp
.sass-cache
.tags
test/bower_components
.idea
.idea/.name
.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/redesign-2014.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
screenshots
*.DS_Store
/.bundle
.idea/front.iml
sitespeed-result
*.sublime-*
